<!DOCTYPE html>
<html>
  <head>
    <title>Q3Stats</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">

    <style type="text/css">
      .container-narrow {
          margin: 0 auto;
          width: 700px;
      }
    </style>
  </head>
  <body>

    <div class='container-narrow'>

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="muted">Quake 3 Stats</h3>
      </div>
      <hr>
      <label class="control-label" for='filter'>Filter: </label>
      <select id='filter'>
          <option value='-1'>All</option>
      </select>
      <hr>
      <div id='chart'></div>
      <div id='games'></div>

    </div>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/handlebars.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="/javascripts/q3stats/app.js"></script>
    <script src="/javascripts/q3stats/tables.js"></script>
    <script src="/javascripts/q3stats/filter.js"></script>
    <script src="/javascripts/q3stats/chart.js"></script>
  </body>
</html>

<script id="game-template" type="text/html">
  <h3>Game {{id}}</h3>
  <h6>Total Kills: {{total_kills}}</h6>
  <table class='table table-bordered table{{id}}'>
    <thead>
      <tr>
        <th>Player</th>
        <th>Kills</th>
      </tr>
    </thead>
    <tbody>
      {{#kills}}
      <tr>
        <td>{{name}}</td>
        <td>{{kills}}</td>
      </tr>
      {{/kills}}
    </tbody>
  </table>
</script>

<script type="text/javascript">
  Q3Stats.Chart.init();
  google.setOnLoadCallback(function(){
    $(function(){
      $.get('/stats', function(games){
        Q3Stats.App.init(games);

        Q3Stats.Filter.loadGames();
        Q3Stats.Filter.setupChange();

        Q3Stats.Tables.init();
        Q3Stats.Tables.renderAll();
      });
    });
  });
    
</script>